<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      '' - 문자<br>
      "" - 문자<br>
      \' - 작은 따옴표 문자로 나옴<br>
      \n - 줄바꿈<br>
      1 - 숫자 "1" - 문자<br>
      typeof - 데이터형을 알려줌<br>
      .length - 문자의 길이를 구함
    </div>
    <script type="text/javascript">
      alert('문자\' 문자 \n 줄바꿈');
      alert("문자" + "문자");
      console.log(typeof 1);
      console.log(typeof "1");
      console.log("text".length);
      console.log("text".indexOf("e"));
    </script>
  </body>
</html>