<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      Math - 연산<br>
      Math.pow(3,2); - 9 3의 2승<br>
      Math.round(10.6); - 11 10.6을 반올림<br>
      Math.ceil(10.2); - 11 10.2을 올림<br>
      Math.floor(10.6); - 10 10.6을 내림<br>
      Math.sqrt(9); - 3 3의 제곱근<br>
      Math.random(); - 0부터 1.0 사이의 랜덤한 숫자<br>
    </div>
    <script type="text/javascript">
      // Math - 연산
      alert(1);
      alert(Math.round(100 * Math.random()));
    </script>
  </body>
</html>